@tailwind base;
@tailwind components;
@tailwind utilities;

/* DASHBOARD CSS */

.grid__container {
  grid-template-areas:
    "aside header"
    "aside main"
    "aside footer";
}

.header {
  grid-area: header;
}

.aside {
  grid-area: aside;
}

.main {
  grid-area: main;
}

.footer {
  grid-area: footer;
}
